
<div class="container">

<table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Is Customer / Is Agent</th>
      <th>Phone Number</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| if !user.is_admin %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <% if user.is_customer%>
        <td><%= "Customer"%></td>
        <%else%>
        <td><%= "Agent"%></td>
        <%end%>
        <td><%= user.phone_number %></td>

        <td><%= link_to 'Edit', {:controller => :users, :action => :edit, :id => user.id , :class => "btn btn-success"} %></td>
        <td> <%= button_to 'Destroy', admin_destroy_user_path(user), method: :delete, data: { confirm: "You sure?" } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>
</div>

