<% provide(:title, "Home") %>
<%= render "partials/navbar" %>

<p id="notice"><%= notice %></p>

<!-- <h1>Bookings</h1> -->

<table>
  <thead>
    <tr>
      <th>Number of Seats</th>
      <th>Tour</th>
      <th>User</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.no_of_seats %></td>
        <td><%= Tour.find(booking.tour_id).Name %></td>
        <td><%= User.find(booking.user_id).email %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'View Tours', tours_url %>
