
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
    <%= f.label :first_Name %>
    <%= f.text_field :first_name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_Name %>
    <%= f.text_field :last_name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email%>
    <%= f.email_field :email , :class => "form-control"%>
  </div>
 <div class="form-group">
    <%= f.label :phone_number%>
    <%= f.text_field :phone_number, :class => "form-control" %>
  </div>
<% if current_user.is_admin%>
  <%= tooltip "If Editing Admin Profile, no change in behavior if either clicked", { :tooltip => 'some keywords to categorize your data and help in future searches' }, :class => 'mytooltip' %>
  <div class="field">
    <%= f.label :role %>
    <%= f.radio_button :role, 'Customer' %> Customer<br />
    <%= f.radio_button :role, 'Agent' %> Agent<br />
  </div>
  <%end%>
  <% if current_user.is_customer || current_user.is_agent %>
  <div class="field">
    <%= f.label :role %>
    <%= f.radio_button :role, 'Customer' %> Customer<br />
    <%= f.radio_button :role, 'Agent' %> Agent<br />
  </div>
  <%end%>
  
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "password_confirmation" %>
  </div>

  </div>
  <div class="actions">
    <%= f.submit%>
  </div>

