
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
    <%= f.label :first_Name %>
    <%= f.text_field :first_name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_Name %>
    <%= f.text_field :last_name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email%>
    <%= f.text_area :email, :class => "form-control" %>
  </div>
 <div class="form-group">
    <%= f.label :phone_Number%>
    <%= f.text_area :phone_number, :class => "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

