
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :first_Name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_Name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email%>
    <%= f.email_field :email %>
  </div>
 <div class="field">
    <%= f.label :phone_number%>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
   <%= f.label :role %>
    <h2>Role Jai</h2>
    <%= f.radio_button :is_customer , 'Customer', :checked => true%>
    <%= f.label :role, 'Customer'%><br/>
    <%= f.radio_button :is_agent, 'Agent'%>
    <%= f.label :role, 'Agent'%><br/>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "password_confirmation" %>
  </div>

  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-success"%>
  </div>

