<%= form_for :search_params, url:"search" do |form| %>

  <div class="field">
    <%= form.label 'Name' %><br />
    <%= form.text_field :Name, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label 'Countries' %><br />
    <%= form.text_field :countries, autofocus: true %>
  </div>
  <div class="field">
    <%= form.label 'Tour Price' %><br />
    <%= form.select :Price, price_options, :include_blank => true %>
  </div>
  <div class="actions">
    <%= form.submit "Search" %>
  </div>
<% end %>

<%= link_to 'Back', tours_path %>