<% provide(:title, "Home") %>
<%= render "partials/navbar" %>

<p>
  <strong>Name:</strong>
  <%= @tour.Name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tour.Description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @tour.Price %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @tour.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @tour.end_date %>
</p>

<p>
  <strong>Total Seats:</strong>
  <%= @tour.total_seats %>
</p>

<p>
  <strong>Available Seats:</strong>
  <%= @tour.avail_seats %>
</p>

<p>
  <strong>Waitlist Number:</strong>
  <%= @tour.avail_waitlist %>
</p>

<p>
  <strong>Status:</strong>
  <%= @tour.status %>
</p>

<p>
  <strong>Booking Deadline:</strong>
  <%= @tour.booking_deadline %>
</p>

<p>
  <strong>Countries:</strong>
  <%= @tour.countries %>
</p>

<p>
  <strong>States:</strong>
  <%= @tour.states %>
</p>
    
    <% if current_user.is_admin || ( current_user.is_customer ) %>
      <%= link_to 'Interested', bookmarks_path(tour_id: @tour.id), :method => 'post', :class=>"btn btn-success" %>
    <% end %>

    <% if current_user.is_admin || ( current_user.is_agent && current_user.id == @tour.user_id) %>
        <%= link_to 'List of Bookmarked Users', bookmarks_path(tour_id: @tour.id), :method => 'get', :class=>"btn btn-success" %>
    <% end %>
    
    <% if current_user.is_admin || ( current_user.is_agent && current_user.id == @tour.user_id) %>
        <%= link_to 'Edit', edit_tour_path(@tour) %>
    <% end %>
    
<%= link_to 'Back', tours_path %>
